<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yohan.blogapp">



    <application
        android:name=".BlogApp"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:hardwareAccelerated="true"
        android:icon="@drawable/readhublogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/readhublogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory"
        >
        <activity android:name=".XMLPost"/>
        <activity android:name=".AndroidPost" />
        <activity android:name=".EngDevicePost" />
        <activity android:name=".LawBasicPost" />
        <activity android:name=".JavascriptPost" />
        <activity android:name=".GitEngPost" />
        <activity android:name=".CloudPost" />
        <activity android:name=".ArduinoPost" />
        <activity android:name=".PythonPost" />
        <activity android:name=".Laravelpost1" />
        <activity android:name=".ReactNativePost" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".OtherPost" />
        <activity android:name=".KibuliPost" />
        <activity android:name=".TechnologyPost" />
        <activity android:name=".TechSinhalPost" />
        <activity android:name=".TechTamilPost" />
        <activity android:name=".TechEnglishPost" />
        <activity android:name=".SportPost" />
        <activity android:name=".GamesPost" />
        <activity android:name=".AnimationPost" />
        <activity android:name=".MoviesPost" />
        <activity android:name=".UnityPost" />
        <activity android:name=".PHPPost" />
        <activity android:name=".NetworkingPost" />
        <activity android:name=".LaravelPost" />
        <activity android:name=".KotlinPost" />
        <activity android:name=".HtmlPost" />
        <activity android:name=".GitPosts" />
        <activity android:name=".FiverrPost" />
        <activity android:name=".AngularPost" />
        <activity android:name=".RecentPostView" />
        <activity android:name=".JavaPost" />
        <activity android:name=".Loginaccount" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".Service.MyFirebaseInstantService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
<!--        <service-->
<!--            android:name=".MyAndroidFirebaseInstanceIDService">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>